{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block main %}
<div class="container">
    <h1>Sign In</h1>
<form method="POST">
  {% csrf_token %}
<div class="flex flex-col items-center">
  <!-- Campo Email -->
  <label class="input validator">
    {{ form.email }}
  </label>
  <div class="validator-hint hidden">Enter valid email address</div>

  <!-- Campo Password -->
  <label class="input validator mt-4">
    {{ form.password }}
  </label>
  <p class="validator-hint hidden">
    Must be more than 8 characters, including<br />
    At least one number<br />
    At least one lowercase letter<br />
    At least one uppercase letter
  </p>

  <!-- Messaggio di errore -->
  {% if error %}
    <p class="text-red-500 text-sm mt-2">{{ error }}</p>
  {% endif %}

  <button type="submit" class="btn btn-primary mt-4">Sign In</button>
</form>

    <p>Don't have an account? <a class="btn btn-outline btn-accent" href="#">Sign Up</a>

    <p>Forgot Password? <a href="#" class="btn btn-outline btn-accent mt-2">Click here</a></p>
</p>

</div>

    {% endblock %}login